#include <windows.h>
//
// Manifest resources
//
LANGUAGE 0, SUBLANG_NEUTRAL
IDI_ICON ICON "nt_timer.ico"
VS_VERSION_INFO VERSIONINFO
BEGIN
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "CompanyName", "LuSlower Software"
            VALUE "FileDescription", "nt_timer_cs"
            VALUE "FileVersion", "0.0.0.0"
            VALUE "InternalName", "nt_timer_Cs"
            VALUE "LegalCopyright", "Copyright © LuSlower"
            VALUE "OriginalFilename", "nt_timer_cs.exe"
            VALUE "ProductName", "nt_timer_cs"
            VALUE "ProductVersion", "0.0.0.0"
        }
    }
        BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1252
    }
END
